<div class="">

    <div class="row">
       
        <div class="col-sm-12 col-md-9">
            <div class="pad10">
                <p><span class="theme-caption-color font-size-14">You can Add / Substract stock if this Item is not stored in a warehouse</span><br></p>
                @Html.Partial("ui/_partials/inventory/sections_ui/_storageType_stockManager_ui")
            </div>
        </div>
    </div>
</div>
